.HomePage{

    height: 130rem;
    background-image: url('../../asset/photo1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &-images{

    }
}